<footer class="footer mt-auto py-3 bg-primary">
  <div class="container clearfix">
    <span>
      <a routerLink="/" class=" text-light float-left" title="Sobre">
        Jardim Cruzeiro Futebol & Amizade
      </a>
    </span>
    <span class="float-right">
      <span class="mr-2">
        <a href="https://www.instagram.com/jardimcruzeirofa/" target="_blank" title="Instagram">
          <i class="fab fa fa-instagram  text-light"></i>
        </a>
      </span>
      <span class="mr-2">
        <a href="https://www.facebook.com/jardimcruzeirofa" target="_blank" title="Facebook">
          <i class="fab fa fa-facebook-square text-light"></i>
        </a>
      </span>
    </span>
  </div>
</footer>
