<main>
  <div class="body-shadow text-center p-2 mb-0 bg-info rounded text-white">
    <!-- <span class="svg-team svg-rem-3 float-left"></span>
    <span class="svg-team svg-rem-3 float-right"></span> -->
    
    <!-- <h1 class="mb-4">JARDIM CRUZEIRO F.A.</h1> -->
  </div>

  <div class="shadow-lg p-3 mb-3 bg-white rounded border-blue-separator-top">
    <blockquote class="blockquote text-center">
      <span class="svg-pennant svg-rem-4 mr-2"></span>
      <p>Primeira fundação: abril de 1996</p>
      <span class="svg-pennant svg-rem-4 mr-2"></span>
      <p>Segunda fundação: 30 de abril de 2006</p>
      <hr>
      <p class="lead mt-4">São Paulo, SP</p>
      <p class="lead">Jd. Cruzeiro, Zona SUL</p>
      
      <footer class="blockquote-footer text-right">
        Dias de lutas, dias de glórias. <cite title="Source Title">"UNF".</cite>
      </footer>
    </blockquote>
  </div>
</main>
